/* Selbst gehostet (Paket 013) statt fonts.googleapis.com -- kein Drittanbieter-Aufruf bei
   jedem Seitenaufruf. Quelle: Karla, SIL Open Font License 1.1. */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('/fonts/karla/karla.woff2') format('woff2');
}
